<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <meta name="description" content="A platform for individuals for Personal and Professional Development Events">
    <meta name="keywords" content="platform, indivuals, personal development, professional development, events">

    
    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="...">

    <!-- Boostrap Popper.JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <!-- Boostrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="..." crossorigin="anonymous" defer></script>
    
    <!-- External CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


    <!-- header and navigation section -->


<header>


    <div id="navigation-bar">


    <div id="navigation-links">

        <div id="logo" alt="A logo representing growth and development"></div>

        <ul>
             <li><a href="#home">Home</a></li>
             <li><a href="#about">About</a></li>
             <li><a href="#events">Events</a></li>
             <li><a href="#user">User</a></li>
             <li><a href="#session">Session</a></li>
             <li><a href="#booking">Booking</a></li>
             <li><a href="#feedback">Feedback</a></li>
             <li><a href="#contact-us">Contact Us</a></li>
             <!-- Add links for Register and Login with direct URLs -->
             <li id="register-link-nav"><a href="{% url 'register' %}">Register</a></li>
             <li id="login-link-nav"><a href="{% url 'login' %}">Login</a></li>

        </ul>


    </div>


</div>
    
</header>


<!-- home section -->


<section id="home">

    <div id="home-image" alt="A welcoming home image representing positive words"></div>


    <div id="home-welcome">
    <h2 id="home-welcome-heading">Welcome, Elevate Your Life's Journey with Thrive Sync!</h2>
    </div>

</section>


<section id="about-us">
    <h2 id="about-us-heading">About Us</h2>
    <div id="about-us-info">
    <p class="about-us">At Thrive Sync, we are dedicated to fostering personal 
    development and growth by providing a dynamic and immersive virtual event experience.</p>
    <p class="about-us">Our mission is to connect individuals with world-class speakers, thought 
    leaders, and transformative content that empowers them to reach their full potential</p>
    <p class="about-us">With a passion for learning and self-improvement at our core, we've 
    curated a platform that offers a diverse range of events, workshops, and resources, all aimed 
    at inspiring and guiding our users on their personal development journeys.</p>
    <p class="about-us">We believe that every individual has the potential to achieve greatness, and 
    we are committed to being your partner in that journey. Welcome to Thrive Sync, where 
    growth knows no bounds.</p>
    </div>
</section>


<section id="events">
    <h2 id="events-heading">Path to Progress: Event Directory</h2>
    <div id="events-info">
    <h3 class="individual-event">Mindfulness Meditation Workshop</h3>  
    <p class="event-details"><span>Date: </span> 15/02/2024</p>
    <p class="event-details"><span>Time: </span> 6.00pm - 7.30pm</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details"><span>Description: </span> Join us for a guided mindfulness 
    meditation session to cultivate inner peace and focus.</p>
    <h3 class="individual-event">Career Development Seminar</h3>
    <p class="event-details"><span>Date: </span> 22/02/2024</p>
    <p class="event-details"><span>Time: </span> - 5.00pm</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details"><span>Description: </span> Learn strategies for advancing 
    your career, setting goals, and navigating professional growth.</p>
    <h3 class="individual-event">Emotional Intelligence Webinar</h3>
    <p class="event-details"><span>Date: </span> 29/02/2024</p>
    <p class="event-details"><span>Time: </span> 2:00pm - 4.00pm</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details"><span>Description: </span> Explore the key components of 
    emotional intelligence and how it can positively impact your personal 
    and professional life.</p>
    <h3 class="individual-event">Life Coaching Workshop</h3>
    <p class="event-details"><span>Date: </span> 07/03/2024</p>
    <p class="event-details"><span>Time: </span> 6.30pm - 8.30pm</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details"><span>Description: </span> Gain insights into goal-setting, 
    overcoming obstacles, and creating a roadmap for personal success.</p>
    <h3 class="individual-event">Financial Wellness Bootcamp</h3>
    <p class="event-details"><span>Date: </span> 14/03/2024</p>
    <p class="event-details"><span>Time: </span> 10.00am - 12.00pm</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details"><span>Description: </span> Learn practical tips for budgeting, 
    saving, and achieving financial stability.</p>
    <h3 class="individual-event">Effective Communication Workshop</h3>
    <p class="event-details"><span>Date: </span> 15/03/2024</p>
    <p class="event-details"><span>Time: </span> 1.30pm - 3.30pm</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details"><span>Description: </span> Improve your communication skills 
    for better relationships, both personally and professionally.</p>
    <h3 class="individual-event">Goal Setting Masterclass</h3>
    <p class="event-details"><span>Date: </span> 21/03/2024</p>
    <p class="event-details"><span>Time: </span> 7.00pm - 9.00pm</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details"><span>Description: </span> Discover effective goal-setting 
    techniques and create a plan for achieving your aspirations.</p>
    <h3 class="individual-event">Health and Wellness Webinar</h3>
    <p class="event-details"><span>Date: </span> 22/03/2024</p>
    <p class="event-details"><span>Time: </span> 11.00am - 4.00pm</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details"><span>Description: </span> Explore holistic approaches to 
    health, nutrition, and overall well-being.</p>
    <h3 class="individual-event">Leadership and Team Building Retreat</h3>
    <p class="event-details"><span>Date: </span> 28/03/2024</p>
    <p class="event-details"><span>Time: </span> Full Day Event (9.00am - 5.00pm)</p>
    <p class="event-details"><span>Location: </span> Virtual Event (Online)</p>
    <p class="event-details">Enhance your leadership skills and foster 
    teamwork in a picturesque retreat setting.</p>
    </div>
</section>


<section id="register">
    <!-- Include registration form-->
    {% include 'register.html' %}
</section>


<section id="login">
    <!-- Include Login Form-->
    {% include 'login.html'}
</section>


<section>
    User Profile
</section>


<section>
    Event Session
</section>


<section>
    Event Booking
</section>


<section>
    Feedback
</section>


<section>
    Contact Us
</section>


</body>
</html>