@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
}


#navigation-bar{
    background-color: #185D8B;
    display: flex;
    justify-content: space-between;
    height: 24vh;
    width: 100%;
}


#logo{
    background: url(../images/Thrive-Sync-logo.png) no-repeat no-repeat;
    display: block;
    position: absolute;
    margin-top: 0.5rem;
    height: 211.2px;
    width: 248px;
    scale: 80%;
    border-radius:25%;
    box-shadow: 2px 4px 4px 4px #3BB143;
}


#navigation-links{
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    line-height: 75px;
}


#navigation-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


#navigation-links ul li a{
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}


#navigation-links li{
    margin-right: 1.2rem;
    margin-left: 2rem;
}


#navigation-links li:first-child{
    margin-left: 43.125rem;
}