/* Importing Google Fonts for Lato and Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;600;700&display=swap');


/* Resetting margin and padding for all elements */
*{
    margin: 0;
    padding: 0;
}


/* Styling for the navigation bar */
#navigation-bar{
    background-color: #185D8B;
    display: flex;
    justify-content: space-between;
    height: 29vh;
    width: 100%;
}


/* Styling for the logo */
#logo{
    background: url(../images/Thrive-Sync-logo.png) no-repeat no-repeat;
    display: block;
    position: absolute;
    margin-top: 0.5rem;
    height: 211.2px;
    width: 248px;
    scale: 80%;
    border-radius:25%;
    box-shadow: 2px 4px 4px 4px #3BB143;
}


/* Styling for the navigation links */
#navigation-links{
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    line-height: 75px;
}


/* Styling for the unordered list within navigation links */
#navigation-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


/* Styling for the links within navigation links */
#navigation-links ul li a{
    font-family: 'Lato', sans-serif;
    font-size: 19.2px;
    color: #FFFFFF;
    text-decoration: none;
}


/* Margin and spacing for individual navigation links */
#navigation-links li{
    margin-right: 1.2rem;
    margin-left: 2rem;
}


/* Adjusting margin for the first navigation link */
#navigation-links li:first-child{
    margin-left: 28rem;
}


/* Hover effect for the links within navigation links */
#navigation-links ul li a:hover{
    color: #CCCCCC;
    text-decoration: underline;
}


/* Styling for the home image */
#home-image{
    background: url(../images/home-image.jpg) no-repeat no-repeat;
    margin-left: 18.6rem;
    height: 660px;
    width: 1000px;
  
}


/* Styling for the home heading */
#home-welcome-heading {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: #185D8B; 
    margin-top: 8.4rem;
    margin-left: 14.4rem;
}


/* Styling for the about us heading */
#about-us-heading{
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    color:#185D8B;
    margin-top: 8rem;
    margin-left: 41.4rem;
    text-decoration: underline;
}


/* Styling for the about us info paragraph content */
#about-us-info {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background-color: #185D8B;
    color: #FFFFFF;
    margin-top: 5rem;
    margin-left: 14.4rem;
    height: 760px;
    width: 70%;
    padding-top: 2rem;
    padding-left: 2.8rem;
    word-spacing: 0.9rem;
    line-height: 3.4rem;
    border: 4px solid #FFA500; 
    border-radius: 12%;
}


/* Styling for the about us info paragraph content with added icon */
#about-us-info::before {
    content: '\1F331'; 
    font-size: 2rem;   
    color: #FFA500; 
    margin-left: 30rem;   
}


/* Styling for individual about us paragraphs */
.about-us{
    margin-top: 2rem;
}


/* Style for events heading */
#events-heading{
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    color: #185D8B;
    margin-top: 8rem;
    margin-left: 32rem;
    margin-bottom: 4rem;
    text-decoration: underline;
}


/* Style for events info */
#events-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333333;
    margin-top: 2rem;
    margin-left: 4rem;
    padding: 2rem;
    background-color: #FFFFFF;
    border: 2.6px solid #CCCCCC;
    border-radius: 8px;
}


/* Style for grid layout */
#events-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.individual-event{
    font-size: 20px;
    color: #185D8B;
    margin-top: 0.6rem;
    text-decoration: underline;
}


#event-details{
    margin-top: -2rem;
}


span{
    font-weight: bold;
}