/* Importing Google Fonts for Lato and Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;600;700&display=swap');


/* Resetting margin and padding for all elements */
*{
    margin: 0;
    padding: 0;
}


/* Styling for the navigation bar */
#navigation-bar{
    background-color: #185D8B;
    display: flex;
    justify-content: space-between;
    height: 29vh;
    width: 100%;
}


/* Styling for the logo */
#logo{
    background: url(../images/Thrive-Sync-logo.png) no-repeat no-repeat;
    display: block;
    position: absolute;
    margin-top: 0.5rem;
    height: 211.2px;
    width: 248px;
    scale: 80%;
    border-radius:25%;
    box-shadow: 2px 4px 4px 4px #3BB143;
}


/* Styling for the navigation links */
#navigation-links{
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    line-height: 75px;
}


/* Styling for the unordered list within navigation links */
#navigation-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


/* Styling for the links within navigation links */
#navigation-links ul li a{
    font-family: 'Lato', sans-serif;
    font-size: 19.2px;
    color: #FFFFFF;
}


/* Margin and spacing for individual navigation links */
#navigation-links li{
    margin-right: 1.2rem;
    margin-left: 2rem;
}


/* Adjusting margin for the first navigation link */
#navigation-links li:first-child{
    margin-left: 30rem;
}


/* Hover effect for the links within navigation links */
#navigation-links ul li a:hover{
    color: #CCCCCC;
}


/* Styling for the home image */
#home-image{
    background: url(../images/home-image.jpg) no-repeat no-repeat;
    margin-left: 18.6rem;
    height: 660px;
    width: 1000px;
}


/* Styling for the home heading */
#home-welcome-heading {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: #185D8B; 
    margin-top: 8.4rem;
    margin-left: 14.4rem;
}


/* Styling for the about us heading */
#about-us-heading{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color:#185D8B;
    margin-top: 8rem;
    margin-left: 41.4rem;
    text-decoration: underline;
}


/* Styling for the about us info paragraph content */
#about-us-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #185D8B;
    color: #FFFFFF;
    margin-top: 5rem;
    margin-left: 14.4rem;
    height: 760px;
    width: 70.6%;
    padding-top: 2rem;
    padding-left: 2.8rem;
    word-spacing: 0.9rem;
    line-height: 3.4rem;
}


/* Styling for individual about us paragraphs */
.about-us{
    margin-top: 2rem;
}


/* Style for events heading */
#events-heading{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #185D8B;
    margin-top: 8rem;
    margin-left: 32rem;
    text-decoration: underline;
}